*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.gridcontainer{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 2fr 2fr;
}
.box1{
    grid-column: 1/3;
    grid-row: 1;
    border-radius: 8px;
    background: #733FC8;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    position: relative;
}
.div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.img{
    position: absolute;
    right: 80px;
    z-index: 1;
}
.text1{
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: relative;

}
.p{
    margin-left: 17px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
    z-index: 3;
    position: relative;
}
.p1{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding-bottom: 2px;
    z-index: 3;
    position: relative;
}
.p2{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    opacity: 0.5;
    z-index: 3;
    position: relative;
}
.text2{
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    z-index: 3;
    position: relative;
}
.p3{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
    z-index: 3;
    position: relative;
}
.p4{
    color: #CFCFCF;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;
    padding-top: 16px;
    z-index: 3;
}
.box2{
    grid-row: 1;
    grid-column: 3;
    border-radius: 8px;
    background: #48556A;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    position: relative;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    position: relative;
}
.img1{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 40px;
}
.text3{
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: relative;
}
 .p{
    margin-left: 17px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
    position: relative;
}
.p5{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    position: relative;
}
.p6{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    opacity: 0.5;
    position: relative;
}
.text4{
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    position: relative;
}
.p7{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 16px;
    position: relative;
}
.p8{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;
    position: relative;
}
.box3{
    grid-row: 1/3;
    grid-column: 4;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}
.div2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: relative;
}
.img2{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    top: 100px;
    right: 20px;
}
.txt1{
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 3;
}
.p{
    margin-left: 17px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
    position: relative ;
    z-index: 3;
}
.t1{
    color: #48556A;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    position: relative ;
    z-index: 3;
}
.t2{
    color: #48556A;
    font-family: "Barlow Semi Condensed";
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    margin-bottom: 18px;
    opacity: 0.5;
    padding-top: 2px;
    position: relative ;
    z-index: 3;
}

.txt2{
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    position: relative ;
    z-index: 3;
}
.t3{
    color: #48556A;
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 24px;
    position: relative ;
    z-index: 3;
}
.t4{
    color: #48556A;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;
    position: relative ;
    z-index: 3;
}
.box4{
    grid-row: 2;
    grid-column: 1;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    position: relative;
}
.div3{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    position: relative;
}
.img3{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    top: 20px;
    left: 30px;
}
.tt1{
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    position: relative ;
    z-index: 3;
}
.p{
    margin-left: 17px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start; 
    position: relative ;
    z-index: 3;
}
.t5{
    color: #48556A;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    padding: 2px;
    position: relative ;
    z-index: 3;
}
.t6{
    color: #48556A;
    font-family: "Barlow Semi Condensed";
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    opacity: 0.5;
    margin-bottom: 18px;
    padding-top: 2px;
    position: relative ;
    z-index: 3;
}
.tt2{
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    position: relative ;
    z-index: 3;
}
.t7{
    color: #48556A;
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 24px;
    position: relative ;
    z-index: 3;
}
.t8{
    color: #48556A;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;
    position: relative ;
    z-index: 3;
}


.box5{
    grid-column: 2/4;
    grid-row: 2;
    border-radius: 8px;
    background: #19202D;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    position: relative ;
    z-index: 3;
}

.tr1{
    border-radius: 100%;
    display: flex;
    flex-direction: row;  
    position: relative ;
    z-index: 3;
}
.p{
    margin-left: 17px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
    position: relative ;
    z-index: 3;
}
.div4{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}
.img4{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    top: 30px;
    right: 30px;
}
.a1{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    position: relative ;
    z-index: 3;
}
.a2{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    margin-bottom: 18px;
    opacity: 0.5;
    padding-top: 2px;
    position: relative ;
    z-index: 3;
}
.tr2{
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    position: relative ;
    z-index: 3;
}
.a3{
    color: #ECF2F8;
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 24px;
    position: relative;
    z-index: 3;
}
.a4{
    color: #FFF;
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.7;
    position: relative;
    z-index: 3;
}
@media screen and ( max-width:327px) {
    body{
        display: flex;
        width: 100vw;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gridcontainer{
        display: grid;
        padding: 72px 24px 71px 24px;
        gap: 30px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .box1{
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 8px;
        background: #733FC8;
        box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    }
    .text1{
        border-radius: 100%;
        display: flex;
        flex-direction: row;
    
    }
    .p{
        margin-left: 17px;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start ;
        align-items: flex-start;
    }
    .p1{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        padding-bottom: 2px;
    }
    .p2{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        opacity: 0.5;
    }
    .text2{
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
    }
    .p3{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 20px;
        font-weight: 600;
        margin-top: 18px;
    
    }
    .p4{
        color: #CFCFCF;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        opacity: 0.7;
        padding-top: 18px;
        padding-right: 16px;
    }
    .box2{
        grid-row: 3;
        grid-column: 1;
        border-radius: 8px;
        background: #48556A;
        box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    }
    .text3{
        border-radius: 100%;
        display: flex;
        flex-direction: row;
    
    }
     .p{
        margin-left: 17px;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start ;
        align-items: flex-start;
    }
    .p5{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
    }
    .p6{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        opacity: 0.5;
    }
    .text4{
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
    }
    .p7{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 16px;
    }
    .p8{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        opacity: 0.7;
    }
    .box3{
        grid-row: 6/7;
        grid-column: 1;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    }
    .txt1{
        border-radius: 100%;
        display: flex;
        flex-direction: row;
    
    }
    .p{
        margin-left: 17px;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start ;
        align-items: flex-start;
    }
    .t1{
        color: #48556A;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
    }
    .t2{
        color: #48556A;
        font-family: "Barlow Semi Condensed";
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        margin-bottom: 18px;
        opacity: 0.5;
        padding-top: 2px;
    
    }
    
    .txt2{
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
    }
    .t3{
        color: #48556A;
        font-family: "Barlow Semi Condensed";
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 24px;
    }
    .t4{
        color: #48556A;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        opacity: 0.7;
    }
    .box4{
        grid-row: 4;
        grid-column: 1;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    }
    .tt1{
        border-radius: 100%;
        display: flex;
        flex-direction: row;
    
    }
    .p{
        margin-left: 17px;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start ;
        align-items: flex-start;
    }
    .t5{
        color: #48556A;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        padding: 2px;
    }
    .t6{
        color: #48556A;
        font-family: "Barlow Semi Condensed";
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        opacity: 0.5;
        margin-bottom: 18px;
        padding-top: 2px;
    }
    .tt2{
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
    }
    .t7{
        color: #48556A;
        font-family: "Barlow Semi Condensed";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        padding-bottom: 24px;
    }
    .t8{
        color: #48556A;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        opacity: 0.7;
    }
    
    
    .box5{
        grid-column: 1;
        grid-row: 5;
        border-radius: 8px;
        background: #19202D;
        box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    }
    .tr1{
        border-radius: 100%;
        display: flex;
        flex-direction: row;
    
    }
    .p{
        margin-left: 17px;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start ;
        align-items: flex-start;
    }
    .a1{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
    }
    .a2{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        margin-bottom: 18px;
        opacity: 0.5;
        padding-top: 2px;
    }
    .tr2{
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
    }
    .a3{
        color: #ECF2F8;
        font-family: "Barlow Semi Condensed";
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 24px;
    }
    .a4{
        color: #FFF;
        font-family: "Barlow Semi Condensed";
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        opacity: 0.7;
    }
    
}
